.about-box {
  background-color: $turquoise;

  & .container {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
  }
}

.about-left-box {

}

.about-right-box {
  flex: 0.5;
  padding-top: 155px;
  padding-left: 180px;

  @include e(title) {
    font-size: rem(90px);
    font-weight: bold;
    color: $white;
    margin-bottom: 30px;
  }

  @include e(content) {
    font-weight: 300;
    line-height: rem(26px);
    margin-bottom: 230px;
    color: $white;
  }

}

