.advantages {
  background-color: $backgroundBlack;
}
.advantages-box {

  @include e(title) {
    display: none;
  }

  @include e(left) {
    background: $advantagesBlack url(../img/advantages-box__left.png) no-repeat 100% 100%;
    color: $white;
    font-size: rem(20px);
    padding-top: 90px;
    padding-bottom: 90px;

    & p {
      padding-right: 150px;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include e(right) {
    background: $advantagesGray url(../img/advantages-box__right.png) no-repeat 0% 100%;
    color: $black;
    font-size: rem(20px);
    padding-top: 90px;
    padding-bottom: 90px;

    & p {
      padding-left: 150px;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }


  }
}