.cases {
  background: $backgroundBlack url(../img/header-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: $white;
}
.cases-box {
  padding-top: 105px;
  padding-bottom: 110px;

  @include e(title) {
    font-size: rem(36px);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 155px;
    & span {
      color: $textOrange;
    }
  }

  @include e(videos) {
    margin-bottom: 110px;

    &>div {
      margin-bottom: 10px;

      &>div {
        min-height: 165px;
      }
    }
  }

  @include e(call) {

    & p {
      font-size: rem(24px);

      & span {
        font-size: rem(36px);
        font-weight: 700;
        color: $textOrange;
        text-transform: uppercase;
      }
    }
  }
}