.graph {
  color: $white;
  background-color: $graphGray;
}
.graph-box {
  padding-bottom: 115px;

  @include e(img) {
    margin-bottom: 65px;
    padding: 0 15px 15px 15px;
    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
    border-right: 1px solid $white;
  }
}
.graph-counters-box {

  @include e(item) {
    & span {
      font-size: rem(36px);
      margin-bottom: 40px;

      & b {
        font-size: rem(68px);
        font-weight: 700;
      }
    }

    & p {
      font-size: rem(36px);
      text-transform: lowercase;
    }
  }
}