.form {
  background-color: $formGray;
  color: $white;

}
.form-box {
  padding-top: 60px;
  padding-bottom: 125px;

  @include e(title) {
    font-size: rem(24px);
    font-weight: 700;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  @include e(form) {

    & label {
      background-color: black;
      border-radius: 5px 0 0 5px;
      padding: 10px;
    }

    & input {
      border-radius: 0 5px 5px 0;

      &::-webkit-input-placeholder {
        opacity: 1;
        transition: opacity 0.5s ease;
      }
      &::-moz-placeholder {
        opacity: 1;
        transition: opacity 0.5s ease;
      }
      &:-moz-placeholder {
        opacity: 1;
        transition: opacity 0.5s ease;
      }
      &:-ms-input-placeholder {
        opacity: 1;
        transition: opacity 0.5s ease;
      }

      &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      &:focus::-moz-placeholder {
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      &:focus:-moz-placeholder {
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      &:focus:-ms-input-placeholder {
        opacity: 0;
        transition: opacity 0.5s ease;
      }
    }

    & button {
      font-size: rem(30px);
      font-weight: 700;
      text-transform: uppercase;
      background: linear-gradient(to top, $buttonFrom, $buttonTo);
      color: $white;
      border-radius: 5px;
      border: none;
      display: block;
      margin: 65px auto 0;

      &:hover {
        background: linear-gradient(to bottom, $buttonFrom, $buttonTo);
        cursor: pointer;
      }
    }
  }

  @include e(result) {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    & p {
      font-size: rem(24px);
      font-family: $openSans;
      font-weight: 700;
      color: $white;
      text-transform: uppercase;
      text-align: center;

      & span {
        font-size: rem(24px);
        font-family: $openSans;
        font-weight: 700;
        color: $textOrange;
        text-transform: uppercase;
      }
    }
  }
}