#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, $buttonFrom 10%, $buttonTo 90%);
  z-index: 100500;
}

.spinner {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;

  &:before,
  &:after {
    content: "";
    height: 40px;
    width: 40px;
    border: 8px solid rgba(255,255,255,.5);
    border-radius: 10px;
    position: absolute;
    top: 0;
  }

  &:before {
    animation: animate 2s infinite linear;
  }

  &:after {
    animation: animate2 2s infinite linear;
  }
}

@keyframes animate {
  100% {
    transform: rotate(180deg) skew(360deg);
  }
}

@keyframes animate2 {
  100% {
    transform: rotate(-180deg) skew(-360deg);
  }
}

.header {
  background: $backgroundBlack url(../img/header-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: $white;
  text-transform: uppercase;
}

.header-box {
  padding-top: 90px;
  padding-bottom: 90px;

  @include e(logo) {
    margin-bottom: 45px;
  }

  @include e(slogan) {
    font-size: rem(20px);
    color: $textOrange;
    margin-bottom: 50px;
  }

  @include e(title) {
    font-size: rem(40px);
    font-weight: 700;
    margin-bottom: 45px;

    & span {
      color: $textOrange;
    }
  }

  @include e(text) {
    font-size: rem(30px);
    margin-bottom: 50px;

    & span {
      font-size: rem(36px);
      font-weight: 700;
      color: $textOrange;
    }
  }

  @include e(button) {
    font-size: rem(20px);
    background: linear-gradient(to top, $buttonFrom, $buttonTo);
    color: $white;
    padding: 10px 15px;
    border-radius: 5px;

    &:hover {
      background: linear-gradient(to bottom, $buttonFrom, $buttonTo);
      color: $white;
      text-decoration: none;
    }
  }
}