.not-for-sale {
  background-color: $not-for-saleOrange;
  color: $white;
}

.not-for-sale-box {
  padding-top: 70px;
  padding-bottom: 50px;

  @include e(title) {
    font-size: rem(30px);
    font-weight: 700;
    margin-bottom: 50px;
  }

  @include e(quote) {

    & img {
      float: left;
      margin-right: 35px;
    }

    & p {
      font-size: rem(20px);
    }
  }
}