// Fonts
$google-font: "https://fonts.googleapis.com/css?family=Open+Sans:400,700";
$openSans: 'Open Sans', sans-serif;

// Font size
$baseFontSize: 12px;

// Break points
$mobile: 576px;
$tablet:  768px;
$desktop: 992px;
$maxWidth: 1460px;

// Paths
$imgPath: "../img/";
$fontPath: "../fonts/";

// Colors
$black: #000000;
$white: #ffffff;
$blue: #1f6f8a;
$greenIcon: #90b395;
$textGray: #4e4e4e;
$priceBackground: #f5f5f5;
$featuresBackground: #595959;
$footerBackground: #083638;