//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700';

$pacifico: 'Pacifico', cursive;
$raleway: 'Raleway', sans-serif;
$baseFontSize: 16px;

$width: 1200px;

// Paths
$imgPath: "../img/";
$fontPath: "../fonts/";


 // Colors
$orange: #ff6033;
$black: #262626;
$white: #ffffff;
$turquoise: #00bfbf;
$textgray: #b8b8b8;
$pearl: #f9f8fb;
$blue: #70bfff;
$yellow: #ffe92f;

