.about-box {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(stretch);
  @include align-items(stretch);
  background-color: $white;
  margin-bottom: 50px;
}
.experts-box {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(stretch);
  @include align-items(stretch);
  @include flex-basis(100%);
  @include flex-grow(1);
  @include order(1);
  margin-bottom: 10px;
  margin-top: 0;

  @include e(title) {
    font-size: $baseFontSize;
    font-family: $openSans;
    font-weight: 700;
    color: $white;
    text-align: center;
    background-color: $blackBackground;
    padding: 20px 0;
    margin-bottom: 10px;
    margin-top: 0;
  }
  @include e(video) {
    position: relative;
    margin-bottom: 10px;

    &:hover a:before {
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s;
      color: $black;
    }

    &:before {
      content: '';
      background: url("../img/play-button.png") 50% 50% no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    & a {
      @include display(flex);
      @include flex-direction(row);
      @include justify-content(center);
      @include align-items(stretch);
      position: relative;
      height: 100%;

      & img {
        min-height: 260px;
        height: 100%;
        width: 100%;
      }

      &:before {
        content: "\f144";
        font-size: 100px;
        font-family: 'Font Awesome\ 5 Free';
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        opacity: .8;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
      }
    }

    &:nth-of-type(2) {
      margin-bottom: 0;
    }
  }
}
.banner-box {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  @include flex-basis(100%);
  @include flex-grow(1);
  @include order(0);
  padding: 20px;
  background: $white url("../img/banner.jpg") 50% 50% no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  box-sizing: border-box;

  @include e(card) {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(stretch);
    @include align-items(center);
    margin-bottom: 5px;

    & div {
      display: none;
    }

    & p {
      font-size: $baseFontSize;
      font-family: $openSans;
      font-weight: 700;
      color: $white;
      text-align: center;
      position: relative;
      z-index: 999;
    }
  }

  @include e(text) {
    font-size: $baseFontSize;
    font-family: $openSans;
    font-weight: 400;
    color: $white;
    text-align: center;
    margin-bottom: 20px;
  }

  @include e(button) {
    font-size: 18px;
    font-family: $openSans;
    font-weight: 700;
    color: $black;
    text-align: center;
    position: relative;
    display: inline-block;
    background: linear-gradient(#fdda0e, #f3ac01);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;

    &:hover:before {
      opacity: 1;
      transform: scale(1, 1);
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s;
      -webkit-transform: scale(0.5, 1);
      transform: scale(0.5, 1);
      border-radius: 10px;
    }
  }
}
.testimonials-box {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(stretch);
  @include align-items(stretch);
  @include flex-basis(100%);
  @include flex-grow(1);
  @include order(2);
  margin-bottom: 10px;

  @include e(title) {
    font-size: $baseFontSize;
    font-family: $openSans;
    font-weight: 700;
    color: $white;
    text-align: center;
    background-color: $blackBackground;
    padding: 20px 0;
    margin-bottom: 10px;
    margin-top: 0;
  }
  @include e(video) {
    margin-bottom: 10px;

    &:hover a:before {
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s;
      color: $black;
    }

    & a {
      @include display(flex);
      @include flex-direction(row);
      @include justify-content(center);
      @include align-items(stretch);
      position: relative;
      height: 100%;

      & img {
        min-height: 260px;
        height: 100%;
        width: 100%;
      }

      &:before {
        content: "\f144";
        font-size: 100px;
        font-family: 'Font Awesome\ 5 Free';
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        opacity: .8;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
      }
    }

    &:nth-of-type(2) {
      margin-bottom: 0;
    }
  }
}

