body {
  font-size: $baseFontSize;
  font-family: $openSans;
  color: $black;
  background-color: $white;
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
}

.hidden{
  opacity:0;
}
.visible{
  opacity:1;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

/*
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 100500;
}

#page-preloader .spinner {
  width: 80px;
  height: 78px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url('../img/loading.gif') no-repeat 50% 50%;
  margin: -16px 0 0 -16px;
}

#scrollTop {
  font-size: rem(50px);
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $pinkText;
  color: $white;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background-color: $blueText;
  }
}*/
