#service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 85px);
  margin-top: 85px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: $white;
  border-bottom: 3px solid $yellow;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  & .service-box {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
    z-index: 10;
    @include e(header) {
      font-size: 30px;
      font-family: $openSans;
      font-weight: 700;
      color: $yellow;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    @include e(row) {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
      width: 100%;
      background-color: $white;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      margin-bottom: 30px;
      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
      @include m(left) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;
        padding-right: 0;
        & .header-box {
          font-size: 18px;
          font-family: $openSans;
          font-weight: 700;
          color: $black;
          text-align: center;
          margin-bottom: 20px;
        }
        & .text-box {
          font-size: 14px;
          font-family: $openSans;
          font-weight: 400;
          color: $black;
          margin-bottom: 20px;
          &:nth-last-of-type(1) {
            margin-bottom: 50px;
          }
        }
      }
      @include m(right) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;
        padding-left: 0;
        & .slider-box {
        }
      }
    }
  }
  /*& .service-box {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
    width: 100%;
    background-color: $white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
    @include e(left) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      width: 100%;
      padding-right: 0;
      & .header-box {
        font-size: 18px;
        font-family: $openSans;
        font-weight: 700;
        color: $black;
        text-align: center;
        margin-bottom: 20px;
      }
      & .text-box {
        font-size: 14px;
        font-family: $openSans;
        font-weight: 400;
        color: $black;
        margin-bottom: 20px;
        &:nth-last-of-type(1) {
          margin-bottom: 50px;
        }
      }
    }
    @include e(right) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      width: 100%;
      padding-left: 0;
      & .slider-box {
      }
    }
  }*/
}