#calculator {
  padding-top: 70px;
  padding-bottom: 100px;
  & .calculator-box {
    @include e(header) {
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 70px;
    }
    @include e(form) {
      padding-top: 50px;
      padding-right: 40px;
      padding-bottom: 50px;
      padding-left: 40px;
      &:hover {
      }
      & .form-col {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 60px;
        @include e(first) {
          width: 30%;
          margin-bottom: 0;
          margin-right: 35px;
          & .form-group {
            &:nth-last-of-type(1) {
            }
            & label {
            }
            & input {
            }
          }
        }
        @include e(second) {
          width: 30%;
          margin-bottom: 0;
          margin-right: 35px;
          & .form-group {
            & label {
            }
            & input {
            }
          }
          & .form-select {
            & label {
            }
            & select {
              & option {
              }
            }
          }
        }
        @include e(third) {
          width: 30%;
          margin-bottom: 0;
          & .form-select {
            & label {
            }
            & select {
              & option {
              }
            }
          }
          & .radio-group {
            flex-direction: row;;
            & .form-group {
              width: 50%;
              margin-bottom: 0;
              &:nth-last-of-type(1) {
              }
              & legend {
              }
              & .form-check {
                &:nth-last-of-type(1) {
                }
                & input {
                  & + label {
                  }
                  & + label:before {
                  }
                  & + label:after {
                  }
                  &:checked + label:after {
                  }
                  &:checked + label {
                  }
                }
                & label {
                }
              }
            }
          }
        }
      }
      & .form-row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include e(time) {
          order: 1;
          font-size: 22px;
          margin-bottom: 0;
          & b {
            font-size: 30px;
          }
        }
        @include e(price) {
          order: 2;
          font-size: 22px;
          margin-bottom: 0;
          & b {
            font-size: 30px;
          }
          & span {
            font-size: 30px;
          }
        }
        @include e(button) {
          order: 3;
          align-self: unset;
          &:hover {
          }
        }
      }
    }
  }
}