@import "reset";

/*Fonts*/
$googleFont: "https://fonts.googleapis.com/css?family=Lato:400,700";
$lato: 'Lato', sans-serif;

/*Font size*/
$baseFontSize: 18px;

/*Colors*/
$whitekBackground: #f5f5f5;
$grayText: #9b9b9b;
$grayBorder: #f0f0f0;
$blueText: #014d8b;
$pinkButton: #ec008d;
$black: #000000;
$white: #ffffff;
$redText: #721c24;
$redBackground: #f8d7da;

@function rem($target) {
  @return ($target / $baseFontSize) * 1rem;
}

@function em($target, $current:$baseFontSize) {
  @return ($target / $current) * 1em;
}

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &_#{$modifier} {
    @content;
  }
}

@mixin media($width) {
  @media (min-width: $width) {
    @content;
  }
}

body {
  font-size: $baseFontSize;
  font-family: $lato;
  color: $grayText;
  background-color: $whitekBackground;
  margin: 0;
  height: 100vh;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    & header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      margin-bottom: 40px;

      & img {
        height: auto;
        max-width: 100%;
        border-radius: 50%;
        margin-right: 10px;
      }

      & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h1 {
          font-size: 28px;
          font-family: $lato;
          font-weight: 700;
          color: $blueText;
          text-align: center;
          text-transform: uppercase;
        }

        & span {
          font-size: $baseFontSize;
          font-family: $lato;
          font-weight: 700;
          color: $blueText;
          text-align: center;
        }
      }
    }

    & main {
      padding: 20px 30px 40px;
      background-color: $white;
      border-radius: 5px;
      margin-bottom: 40px;
      transition: all 0.7s;
      box-shadow: none;

      &:hover {
        transition: all 0.7s;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        & div:nth-child(1) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;
          margin-bottom: 25px;

          & label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            font-size: $baseFontSize;
            font-family: $lato;
            font-weight: 400;
            color: $grayText;

            & input {
              font-size: $baseFontSize;
              font-family: $lato;
              font-weight: 400;
              color: $grayText;
              min-width: 30vw;
              padding: 10px 5px;
              border: 1px solid $grayBorder;
              border-radius: 5px;
              outline: none;
              margin-top: 5px;
              transition: all 0.7s;

              &:hover {
                transition: all 0.7s;
                border: 1px solid $blueText;
              }
            }
          }

          & span {
            align-self: center;
            display: none;
            font-size: 14px;
            font-family: $lato;
            font-weight: 400;
            color: $redText;
            margin-top: 10px;
          }
        }

        & div:nth-child(2) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;
          margin-bottom: 40px;

          & label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            font-size: $baseFontSize;
            font-family: $lato;
            font-weight: 400;
            color: $grayText;

            & input {
              font-size: $baseFontSize;
              font-family: $lato;
              font-weight: 400;
              color: $grayText;
              min-width: 30vw;
              padding: 10px 5px;
              border: 1px solid $grayBorder;
              border-radius: 5px;
              outline: none;
              margin-top: 5px;
              transition: all 0.7s;

              &:hover {
                transition: all 0.7s;
                border: 1px solid $blueText;
              }
            }
          }

          & span {
            align-self: center;
            display: none;
            font-size: 14px;
            font-family: $lato;
            font-weight: 400;
            color: $redText;
            margin-top: 10px;
          }
        }

        & div:nth-child(3) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          & button {
            font-size: $baseFontSize;
            font-family: $lato;
            font-weight: 700;
            color: $white;
            text-align: center;
            text-transform: uppercase;
            padding: 10px 45px;
            background-color: $pinkButton;
            border-radius: 30px;
            margin-right: 10px;
            transition: all 0.7s;
            outline: none;

            &:hover {
              transition: all 0.7s;
              background-color: $blueText;
              cursor: pointer;
            }
          }

          & a {
            font-size: $baseFontSize;
            font-family: $lato;
            font-weight: 400;
            color: $grayText;
            text-align: center;
            text-decoration: underline;
          }
        }
      }
    }

    & footer {

      & span {
        font-size: $baseFontSize;
        font-family: $lato;
        font-weight: 400;
        color: $grayText;
        text-align: center;

        & a {
          color: $grayText;
        }
      }
    }
  }
}


