* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 56px;
    color: #333333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 600px;
    width: 1200px;
    background-color: #fdde7e;
}