.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.message-box {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  min-width: 530px;
  min-height: 210px;
  border-bottom: 5px solid $blueText;
  position: relative;
  background-color: $white;
  border-radius: 3px;
  box-sizing: content-box;

  @include e(img) {
    position: absolute;
    top: -25%;
  }

  @include e(text) {

    & p {
      font-size: rem(24px);
      font-family: $openSans;
      font-weight: 700;
      color: $blueText;
      margin: 20px 0 0 0;
      line-height: 30px;
      text-transform: uppercase;
      text-align: center;
    }

    & span {
      font-size: $baseFontSize;
      font-family: $openSans;
      font-weight: 400;
      color: $grayText;
      text-align: center;
    }
  }


}