.price {
  & .nav {
    flex-direction: row;
    justify-content: center;
    @include e(item) {
      margin-right: 30px;
      margin-bottom: 0;
      &:hover {
      }
      &:before {
      }
      &:after {
      }
      & i {
      }
      &:nth-last-of-type(1) {
        margin-right: 0;
      }
      @include m(done) {
        & i {
        }
      }
      @include m(active) {
        & i {
        }
        &:before {
        }
      }
    }
  }
  @include e(header) {
    font-size: 28px;
    & button {
      & i {
      }
    }
  }
  @include e(row) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    & .price__col {
      margin-bottom: 0;
      & .popular {
        & h3 {
          font-size: 24px;
        }
      }
      & .plan {
        @include e(header) {
          font-size: 24px;
        }
      }
    }
  }
}