#header {
  & .header-box {
    padding-top: 55px;
    @include e(content) {
    }
    @include e(logo) {
      & img {
        width: 100px;
        height: 100px;
      }
      & span {
        display: flex;
      }
    }
    @include e(contacts) {
      display: flex;
    }
    @include e(title) {
      font-size: 72px;
    }
  }
}