.hsingleInfo h6,
.sicialIcon a:hover,
.mainNav ul li:hover > a,
.mainNav ul ul.sub-menu li:hover > a,
.mainNav ul ul.sub-menu ul.sub-menu li:hover > a,
.headerSearch button:hover,
.headerSearch.active button,
.singleSer i,
.singleSer h3 a:hover,
.callToContent i:hover,
.singlePrice .phead:hover,
.singlePrice a.painButton:hover,
.singleCho i,
.singleOffer i,
#testmonial::before,
#testmonial::after,
.testdeg p,
.galr a:hover,
.galTitle a:hover,
.singleFun i,
.bDate a,
.blogTitle a:hover,
.faddress .sads i,
.fmail a:hover,
.bannerWid h4 span,
.newsletter input[type="submit"], 
.newsletter button ,
.copyPera i,
.breadcrumbNav span.active,
.mainNav2 ul li:before,
.mainNav2 ul li:hover > a,
.mainNav2 ul ul.sub-menu li:hover > a,
.mainNav2 ul ul.sub-menu ul.sub-menu li:hover > a,
.appointment-time i,
.unavailable .appointment-slots,
.stafDec h5 a:hover,
.stafDec p,
.singTeamContent ul li i,
.teamQuote .bqauthor p,
.faqAccordion .panel-title > a.collapsed:after,
.er_search input[type="submit"], 
.er_search button,
.eventDate a,
.galTitle2 a:hover,
.select2-container--default .select2-selection--single .select2-selection__arrow b:before,
.blogSidebar .widget ul li::before,
.singlePostb.blockquote::after,
#postCaro .owl-next:hover, 
#postCaro .owl-prev:hover,
.blogSingleDec blockquote::after,
.blogSingleDec ul li i,
.comDate,
.comDate a,
.shopSidebar aside ul li i,
.crossProduct,
.lightDark a.active,
.color_red,
.titleHead h1,
.painButton:hover,
input[type='submit']:hover{
    color: #a72fca;
}
.sicialIcon a:hover,
.slider1 .tp-leftarrow.default.round:hover:before,
.slider1 .tp-rightarrow.default.round:hover:after,
.pPrice,
.singlePrice a.painButton:hover,
.book-appointment a:hover,
.teamtabnav,
.teamtabnav li.active a,
.teamtabnav li.active,
.blogSingleDec blockquote,
.lightDark a.active,
.painButton:hover,
input[type='submit']:hover{
    border-color: #a72fca;
}
.mainNav ul li:before,
.quoteHeader,
.galr a.popUp,
.calendar-header ,
.appointment-calendar .day-cell.selected-day,
.book-appointment a:hover,
.teamtabnav li.active a,
.teamtabnav li.active,
.skill3,
.faqAccordion .panel-title > a,
.monthName,
.paginationCustom span.current,
.paginationCustom a:hover,
.likeView a.repl,
.likeView h6.pull-right,
.singleCom a.reply:hover,
#slider-range .ui-slider-handle,
#slider-range .ui-slider-range,
.layout a.active span::before,
.showit ,
.lineBorder,
.mainNav2 ul li::before{
    background: #a72fca;
}

.singleFun:hover{
    background: rgba(167, 47, 202, 0.4);
}

.unavailable .book-appointment a:hover{
    background: transparent;
    border-color: #a72fca;
}