#advantages {
  background-color: $white;
  padding-top: 40px;
  padding-bottom: 40px;
  & .advantages-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include e(title) {
      font-size: 24px;
      font-family: $lato;
      font-weight: 700;
      color: $bordoRatesButtonBackground;
      text-align: center;
      margin-bottom: 25px;
    }
    @include e(items) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      @include m(left) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        margin-bottom: 50px;
        & img {
          margin-bottom: 10px;
        }
        & h3 {
          font-size: 22px;
          font-family: $lato;
          font-weight: 400;
          color: $black;
          text-align: center;
        }
      }
      @include m(center) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        margin-bottom: 50px;
        & h3 {
          font-size: 22px;
          font-family: $lato;
          font-weight: 400;
          color: $black;
          text-align: center;
        }
      }
      @include m(right) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        & h3 {
          font-size: 22px;
          font-family: $lato;
          font-weight: 400;
          color: $black;
          text-align: center;
        }
      }
    }
  }
}